.canvas-container{
	position: relative;
	width: 500px;
	height: 500px;
}
#sceneCanvas {
position: absolute;
}
#newPlayerBtn {
	position: relative;
	width: 10rem;
	top:25%;
	left:43%;
}

body {
	margin: 0;
}

#site-menu {
	position: absolute;
	left:30%;
	top:40%;
	width: 50rem;
	height: 20rem;
}

#flashLightStatusCard {
	width: 50rem; 
	position: absolute;
	left:27%;
	top: 1%;
}

#profile_image_container {
	position: absolute;
	left:95%;
	top: 2%;
}

#profile_image {
	width: 60%;
}

#google_login_btn {
	position:relative;
	text-transform:none;
	width:15rem;
	left:38%;
	top:80%;
}