.canvas-container{
	position: relative;
	width: 500px;
	height: 500px;
}
#sceneCanvas {
position: absolute;
}
#newPlayerBtn {
position:absolute;
left:45%;
top:40%
}

body {
	margin: 0;
}

#site-menu {
	opacity: 90%;
	position: absolute;
	left:30%;
	top:48%
}

#flashLightStatusCard {
	width: 50rem; 
	position: absolute;
	left:27%;
	top: 1%;
}