.canvas-container{
	position: relative;
	width: 500px;
	height: 500px;
}
#sceneCanvas {
position: absolute;
}
#newPlayerBtn {
	position: absolute;
	width: 10rem;
	top:25%;
	left:43%;
}

#leaveGameBtn {
	position: relative;
	width: 10rem;
	top:25%;
	left:43%;
}

body {
	margin: 0;
}

#site-menu {
	position: absolute;
	left:30%;
	top:40%;
	width: 50rem;
	height: 20rem;
}

#flashLightStatusCard {
	width: 30rem; 
	position: absolute;
	left:15%;
	top: 48%;
}

#healthStatusCard {
	width: 50rem; 
	position: absolute;
	left:29%;
	top: 5%;
}

#profile_image_container {
	position: absolute;
	left:95%;
	top: 2%;
}

#profile_image {
	width: 60%;
}

#google_login_btn {
	position:relative;
	text-transform:none;
	width:15rem;
	left:38%;
	top:80%;
}

#overlay_message {
	position: absolute;
	text-align: center;
	top:1%;
	left:45%;
	font-size: 75;
	display: block;
}

#room_info {
	position: absolute;
	text-align: center;
	top:1%;
	font-size: 20;
	display: block;
}

.progress-bar-vertical {
	transform: rotate(-90deg);
	left: 5%;

}